# Build
bin/
obj/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# VS Code
.vscode/

# Rider / JetBrains
.idea/
*.sln.iml

# NuGet
*.nupkg
*.snupkg
packages/

# Test results & coverage
TestResults/
*.trx
*.coverage
*.coveragexml
coverage/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Docker local overrides
docker-compose.override.yml

# Publish output
publish/

# Docs
Docs/
